/* GLOBAL STYLES */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #303030;
  color: hsl(203, 93%, 89%);
}

svg {
  margin-top: -3px;
}

/* HEADER */
.logo {
  height: 6vh;
  width: 14%;
  margin: 1vh 0 0 10vw;
  display: inline-block;
}

.navWrap { 
  display: inline-block;
  background-color: skyblue;
  width: 100%;
  height: 8vh;
}

.nav {
  float: right;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: 8px;
}

.navLink {
  align-self: center;
  min-width: 80px;
  padding-right: 40px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.navLink a {
  color: #303030;
  text-decoration: none;
}

.navLink > .navLinkActive {
  border-bottom: solid 2px #303030;
}

/* HOME */
.cardsWrap {
  background: #303030;
  color: #c8e9fd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 92vh;
}

@media only screen and (min-width: 900px) {
  .card {
    margin: 40px 20px;
    height: 400px;
  }

  .cardImg {
    max-height: 340px;
  }

  .ant-btn.favsBtn, .ant-btn.favsBtn:focus {
    font-size: 16px;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    margin: 40px 20px;
    height: 300px;
  }

  .cardImg {
    max-height: 240px;
  }

  .ant-btn.favsBtn, .ant-btn.favsBtn:focus {
    font-size: 12px;
    text-align: center;
  }
}

.cardImg:hover {
  opacity: 0.7;
}

/* DETAILS */
.details {
  min-height: 92vh;
  background-color: #303030;
  color: #c8e9fd;
}

.detailsImg {
  display: block;
  margin: 40px auto;
  width: 75%;
}

.ant-btn.favsBtn, .ant-btn.favsBtn:focus {
  display: block;
  margin: 25px auto 25px auto;
  background: #c8e9fd;
  color: #303030;
  border: none;
  border-radius: 5px;
  width: 90%;
}
.ant-btn.favsBtn:hover {
  display: block;
  margin: 25px auto 25px auto;
  background: #94d6ff;
  color: #303030;
  border-radius: 5px;
}
.ant-btn.favsBtn .svg {
  margin-top: -7px;
}

.detailsContent {
  padding: 40px;
}

.detailsContent h3 {
  color: #c8e9fd;
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  margin-left: 15px;
}

.detailsContent h4 {
  color: #c8e9fd;
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  margin-left: 50px;
}

.detailsContent .hp {
  color: #c8e9fd;
  font-size: 24px;
  font-weight: 300;
  margin-right: 15px;
  float: right;
}

.detailsContent hr {
  border-color: #c8e9fd;
}

.detailsContent .attack {
  padding: 10px;
  font-size: 24px;
}

.detailsContent .ant-row {
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

/* FAVOURITES */
.favWrap {
  background: #303030;
  color: #c8e9fd;
  min-height: 92vh;
  text-align: center;
  padding: 20px;
}
.favWrap h3 {
  color: #c8e9fd;
  font-size: 24px;
}

.close {
  font-size: 2em;
  color: red;
  background: #303030;
  border-radius: 9999px;
  position: relative;
  top: -95px;
  left: -15px;
}

/* ENERGY TYPES */
.energy {
  background-image: url('/images/energy-types.png');
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 5px;
}

.energy.fighting {
  background-position: -50px -25px;
}

.energy.colorless {
  background-position: -25px 0;
}

.energy.water {
  background-position: -75px -50px;
}

.energy.lightning {
  background-position: -50px -50px;
}